

body{
    margin: 0;
    font-family: sans-serif;
    position: sticky;
    overflow: auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    position: sticky;
    z-index: 100;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.374);
    height: 50px;
    
}

.nav-left{

    display: flex;
    align-items: center;
}
.nav-left img{
    height: 50px;
}

.nav-middle{
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-right{
    display: flex;
    align-items: center;
}

.nav-right .right-option-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-option-two{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.nav-left .nav-input{
    display: flex;
   background-color: rgba(128, 128, 128, 0.128);
    padding: 10px 15px;
    border-radius: 999px;
    align-items: center;
}

.nav-input input{
    background-color: transparent;
    outline-style: none;
    border-style: none;
}

.nav-input i{
    color: gray;
}
.middle-option{
    padding: 0px 20px;
    margin-right: 10px;
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-option.active{
    border-bottom: 4px solid #1877f2;
    border-radius: 2px;
}

.middle-option.active i{
    color: #1877f2;
}

.middle-option:hover{
    background-color: rgba(128, 128, 128, 0.152);
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
    
}

.middle-option i{
    font-size: x-large;
    color: rgba(128, 128, 128, 0.624);
    

}
.find-friends{
    background-color: rgba(128, 128, 128, 0.157);
    padding: 10px 15px;
    border-radius: 999px;
    margin-right: 10px;
}
.right-option-one img{
    border-radius: 100%;
    margin-right: 10px;
}
.r-o-t-icons{
    background-color: rgba(128, 128, 128, 0.157);
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 100%;

}
.r-o-t-icons i{
    font-size: large;
}


/* Main content */

.main-content{
    background-color: rgba(128, 128, 128, 0.146);
    display: flex;
    padding: 18px 10px;
    justify-content: space-between;
}

.main-left{
    width: 20%;
    
    margin-right: 10px;
}
.main-middle{
    width: 60%;
    display: flex;
    justify-content: center;
    height: 91vh;
    overflow-y:scroll;
    
    
}
.main-middle::-webkit-scrollbar{
    display: none;
}
.main-right{
    width: 20%;
     margin-left: 10px;
    
}

.m-left-option{
    display: flex;
    padding: 5px 10px;
    height: 45px;
    align-items: center;
    
}
.m-left-option img{
    border-radius: 100%;
    height: 30px;
}
.m-left-option h5{
    margin-left: 10px;
    font-size: 14px;
}

.m-left-option:hover{
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.171);
}

/* Main - middle */

.container{

    width: 70%;
    
}
.m-story{
    background-color: white;
    height: 300px;
    border-radius: 6px;
    display:flex ;
    flex-direction: column;
    box-shadow: 1px 5px 8px -9px rgba(0, 0, 0, 0.429) ;
}
.m-feeds{
    background-color: white;
    height: 130px;
    margin-top: 15px;
    border-radius: 6px;
}
.m-post{
    background-color: aqua;
    height: 700px;
    margin-top: 15px;
    border-radius: 6px;
}

/* m-story */

.toggle{
    
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(128, 128, 128, 0.252);

    
}
.toggle-btn{
    
    display: flex;
    width: 48%;
    height: 80%;
    align-items: center;
    justify-content: center;
    
}
.toggle-btn span{
    font-weight:600 ;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.511)
}
.toggle-btn:hover{
    background-color: rgba(128, 128, 128, 0.127);
    cursor: pointer;
    border-radius: 6px;
}
.story-container{
    height: 80%;
    
    display: flex;
}

.story{
    width: 20%;
    
    padding: 10px 15px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.372);

}

.story img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position:absolute;
    top: 15px;
    left: 8px;
    border: 3px solid #1877f2;

}
.story h5{
    color: white;
    position:absolute;
    bottom: 8px;
    margin: 0;
}

.story.active{
    background-color: brown;
    

}

.story.active h5{

    background-color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    color: black;
}
.story.active img{
    top:65%;
    z-index: 1;
    left: 30%;
    background-color: #1877f2;
    border: 3px solid white;
}

.toggle-btn.active{
    border-bottom: 4px solid #1877f2;
    border-radius: 2px;
}

.toggle-btn.active span{
    color: #1877f2;
}


/* feeds */

.feed-top{
    display: flex;
    
    height: 50%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(128, 128, 128, 0.33);
}
.feed-bottom{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
}
.feed-input{
    
    width: 85%;
    padding: 10px 15px;
    border-radius: 999px;
    background-color: rgba(128, 128, 128, 0.197);
}
.feed-input input{
    width: 100%;
    background-color: transparent;
    border-style: none;
    outline-style: none;
    font-size: 16px;
}
.feed-top img{
    border-radius: 100%;
    margin-left: 10px;
}

.f-b-option{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: center;
}
.f-b-option i{
    margin-right: 5px;
    font-size: 24px;
}

.f-b-option h5{
    margin-left: 5px;
    font-size: 16px;
    font-weight: 100;
}

.fa-video{
    color: #f3425f;
}

.fa-images{
    color: #45bd62 ;
}
.fa-face-grin{
    color: #f7b928;
}

.f-b-option:hover{
    background-color: rgba(128, 128, 128, 0.257);
    height: 80%;
    border-radius: 8px;
}

/* Post */


.post-top{
    background-color: white;
    height: 100px;
}
.post-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
}
.post-description{
    padding: 0px 18px;
}
.post-description p{
    margin: 0;
    padding: 0;
}

.head-left{
    display: flex;
    align-items: center;
}

.head-left img{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    margin-right: 10px;
}

.post-title h5{
    margin: 0;
    padding: 0;
}
.post-middle{
    height: 500px;
    /* width: 100%; */
    background-color: black;
}
/* .post-middle iframe{
    height: 100%;
    width: 100%;
} */
.post-bottom{
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counts{
    display: flex;
    height: 50%;
    width: 95%;
    
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.count-left{
    display: flex;
    align-items: center;
}
.count-left img{
    width: 20px;
    height: 20px;
    margin-right: 5px;

}
.post-action{
    display: flex;
    height: 50%;
    width: 95%;
    
    align-items: center;
    justify-content: space-around;
}
.contact-bar{
    display: flex;
    justify-content: space-between;
}

.contact-right{
    display: flex;
    margin: 25px;
    justify-content: space-around;
    margin-right: 0px;
}
.c-r-icons{
    margin-right: 20px;
    align-items: center;
}
.c-r-icons img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: -10px;
    margin-top: -5px;
    

}
.contact-option{
    display: flex;
    margin: 0;
}
.contact-option img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 10px;
}
.contact-option h6{
    justify-content: center;
    margin: 17px;
    font-size: medium;
    margin-left: 7px;
    
}
.contact-middle{
    border-bottom: 2px solid rgba(0,0,0,0.197);
}
.g-c-middle h6{
    justify-content: center;
    margin: 17px;
    font-size: medium;
}


.g-c-middle img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 10px;
}
    
.g-c-middle h6{
    justify-content: center;
    margin: 15px;
    font-size: medium;
    margin-top:-45px;
    margin-left: 60px;
    
}
.g-c-bar h4{
    color:gray;
}
.contact-left h4{
    color:gray;
}













